<ifModule mod_headers.c>
Header set X-Content-Type-Options "nosniff"
Header set X-XSS-Protection "1; mode=block"
Header set X-Frame-Options "DENY"
Header set Pragma "no-cache"
Header always set Cache-Control "no-cache,no-store"
Header always edit Set-Cookie (.*) "$1; HttpOnly"
Header always edit Set-Cookie (.*) "$1; Secure"
RewriteBase /
</ifModule>

Options -Indexes
<IfModule mod_headers.c>
  Header set X-Content-Type-Options nosniff
</IfModule>

Options +MultiViews
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
</IfModule>

Redirect 301 /cheats http://cheats.olback.net 
Redirect 301 /emmas http://uf.olback.net/ratchet
Redirect 301 /ghost http://ghost.olback.net
Redirect 301 /hax http://hackertyper.net
Redirect 301 /pma http://olback.net/phpmyadmin
Redirect 301 /yt https://www.youtube.com/channel/UCaLwTk-JfriVkeqqLYNQYKg
Redirect 301 /konga /misc/konga.html
Redirect 301 /ruski /misc/ruski.html
Redirect 301 /end /misc/end.html
Redirect 301 /exit /misc/exit.html
Redirect 301 /clock /misc/clock.html
Redirect 301 /cat /misc/cat.html
Redirect 301 /joncfg /misc/joncfg.html

ErrorDocument 500 /misc/404.html
ErrorDocument 404 /misc/404.html
ErrorDocument 403 /misc/404.html
ErrorDocument 401 /misc/404.html
ErrorDocument 400 /misc/404.html
