/*
 *  olback.net v4.0
 */

div#cookie {

    position: fixed;
    right: -20rem;
    bottom: 3rem;
    border: 3px solid $accent;
    border-right: none;
    padding: 1.5rem;
    background-color: inherit;
    color: inherit;
    transition: right ease-in-out .15s;
    z-index: 1000;

    p, button {
        padding: 0;
        margin: 0;
        display: inline-block;
        color: inherit;
    }

    button {
        background-color: $accent;
        border: none;
        padding: .75rem 1.5rem;
        border-radius: .5rem;
        margin-left: 1rem;
        outline: none;
        color: $darkGray;
        transition: color ease-in-out 1s;
        cursor: pointer;

        &:hover {
            color: $lightGray;
        }

    }
    $cornerSize: 2rem;

    &::before {
        position:absolute;
        left: -1px;
        bottom: -1px;
        content: '';
        border-bottom: $cornerSize solid $accent;
        border-right: $cornerSize solid transparent;
    }

    &::after {
        position: absolute;
        left: -3px;
        bottom: -3px;
        content: '';
        border-bottom: $cornerSize solid $white;
        border-right: $cornerSize solid transparent;

        .dark > & {
            border-bottom: $cornerSize solid $darkGray;
        }

    }

    &.show {
        right: 0;
    }

}

div#scroll-top {
    position: fixed;
    bottom: 3rem;
    right: -5rem;
    background-color: $accent;
    border-radius: 50%;
    color: $darkGray;
    padding: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: box-shadow ease-in-out .15s, right ease-in-out .15s;

    &:hover {
        box-shadow: 0 0 10px $accent;
    }

    &.show {
        right: 3rem;
    }

}

footer {
    background-color: $darkGray;
    color: $white;
    text-align: center;
    border-top: 3px solid $lightGray;

    p {
        display: inline-block;
        text-align: center;
        margin: 0;
        padding: 3rem 0;

        a {
            color: $white;
            text-decoration: none;
        }

    }

    #darkmode-toggle {
        display: inline-block;
        padding: 1rem;
        background-color: $white;
        border-radius: 50%;
        color: $darkGray;
        margin-left: 2rem;
        transition: box-shadow ease-in-out .15s;
        cursor: pointer;
        user-select: none;

        &:hover {
            box-shadow: 0 0 3px $white;
        }

    }

}

@media screen and (max-width: 1000px) {

    div#scroll-top {
        bottom: 2rem;
        padding: 1rem;
        &.show {
            right: 2rem;
        }
    }

}
