/*
 *  olback.net v4.0
 */

main {

    background-color: inherit;
    color: inherit;

    section {
        // height: 100vh;
        background-color: inherit;
        color: inherit;
        display: grid;
        grid-template-columns: 10vw 80vw 10vw;
        grid-template-rows: 15rem auto 10rem;

        h2 {
            grid-column: 2;
            align-self: center;
            justify-self: center;
            font-size: 2rem;
            color: inherit;
            text-align: center;
        }

        &::before {
            display: absolute;
            display: block;
            height: 2px;
            width: 50vw;
            margin-left: 25vw;
            background-color: $accent;
            content: '';
        }

    }

    section#oss {

        .items {
            display: grid;
            grid-column: 2;
            grid-template-columns: auto auto auto;

            article {
                // align-self: center;
                justify-self: center;
                border-right: 2px solid $accent;
                width: 100%;
                text-align: center;
                color: inherit;
                margin-bottom: 2rem;

                &:first-of-type, &:nth-of-type(4n) {
                    h3, p, div {
                        padding-left: 0;
                    }
                }

                &:nth-of-type(3n), &:last-of-type {
                    border-right: none;
                    h3, p, div {
                        padding-right: 0;
                    }
                }

                h3 {
                    padding: 0 3rem;
                }

                p {
                    padding: 0 3rem;
                    text-align: justify;
                    line-height: 1.4rem;
                }

                div {
                    padding: 0 3rem;
                    text-align: left;

                    span.lang-dot {
                        display: inline-block;
                        width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                        background-color: #000;
                        margin-bottom: -3px;
                        margin-right: .1rem;
                    }

                    span.lang {
                        margin-right: 1rem;
                    }

                    a {
                        color: inherit;
                        font-weight: bolder;
                        transition: color ease-in-out .15s;
                        text-decoration: none !important;

                        &:hover {
                            color: $lightGray;

                            .dark > & {
                                color: $accent;
                            }

                        }

                        &.git {

                            margin-right: 1rem;

                            &::before {
                                font-family: 'Font Awesome 5 Brands';
                                font-weight: normal;
                                display: inline-block;
                                content: '\f841';
                                width: 1rem;
                                height: 1rem;
                                margin-right: .2rem;
                            }

                        }

                        &.website {

                            margin-right: 1rem;

                            &::before {
                                font-family: 'Font Awesome 5 Free';
                                font-weight: normal;
                                display: inline-block;
                                content: '\f57d';
                                width: 1rem;
                                height: 1rem;
                                margin-right: .2rem;
                            }

                        }

                    }

                }

            }

        }

        h3 {
            grid-column: 2;
            text-align: center;
            color: inherit;
            a {
                color: inherit;
                transition: color ease-in-out .15s;
                &:hover {
                    color: $lightGray;
                    .dark > & {
                        color: $accent;
                    }
                }
            }
        }

    }

    section#about {

        grid-template-columns: 30vw 40vw 30vw;

        div.body {
            grid-column: 2;
            grid-row: 2;

            p {
                margin: 0;
                text-align: justify;
                line-height: 1.4rem;
                margin-bottom: 3rem;
            }

            *:last-child {
                margin-bottom: 0;
            }

        }

    }

    section#contact {

        grid-template-columns: 30vw 40vw 30vw;

        div.wrapper {
            grid-column: 2;
            grid-row: 2;

            div.m-status {
                padding: 1rem;
                border-radius: .3rem;
                text-align: center;
                font-family: 'Courier New', Courier, monospace;
                font-size: 14pt;
                margin-bottom: 1rem;
                display: none;

                ul {
                    width: fit-content;
                    margin: 0 auto;
                    padding: 0;
                    list-style: none;
                    li {
                        font-family: 'Courier New', Courier, monospace;
                    }
                }

                &.success {
                    background-color: #28a745;
                    color: $white;
                    display: block;
                }

                &.error {
                    background-color: #dc3545;
                    display: block;
                    color: $darkGray;
                }

            }

            form {

                div.input-group {
                    padding: 1rem;

                    label {
                        color: inherit;
                    }

                    input, textarea {
                        display: block;
                        padding: .5rem .5rem;
                        width: calc(100% - 1rem);
                        border: none;
                        border-bottom: 2px solid $accent;
                        background-color: transparent;
                        outline: none;
                        font-size: 14pt;
                        margin-top: .3rem;
                        color: inherit;
                    }

                    textarea {
                        height: 5rem;
                        resize: vertical;
                        border: 2px solid $accent;
                        font-family: 'Courier New', Courier, monospace;
                        border-radius: .3rem;
                    }

                    &.checkbox {
                        text-align: center;
                        color: inherit;
                        label, input {
                            display: inline-block;
                            width: auto;
                        }
                        input {
                            display: none;
                        }
                        label {
                            margin-left: .5rem;
                            cursor: pointer;
                            transition: background-color ease-in-out 2s;
                        }
                        label:before {
                            margin-bottom: -.35rem;
                            display: inline-block;
                            height: 14pt;
                            width: 14pt;
                            // background-color: $accent;
                            border: .1rem solid $accent;
                            border-radius: 3pt;
                            content: '';
                        }
                        input:checked + label:after {
                            content: '✓';
                            font-size: 16pt;
                            color: inherit;
                            margin-left: -1.2rem;
                            margin-top: -.2rem;
                            position: absolute;
                            font-weight: bold;
                        }
                    }

                }

                div.name-email {
                    display: grid;
                    grid-template-columns: 50% 50%;
                }

                button {
                    display: block;
                    margin: 1rem auto;
                    font-size: 14pt;
                    padding: 1rem 2rem;
                    border: none;
                    background-color: $accent;
                    color: $darkGray;
                    outline: none;
                    cursor: pointer;
                    transition: background-color ease-in-out .15s;
                    border-radius: .3rem;

                    &:hover {
                        background-color: darken($accent, 7%);
                    }

                    &:active {
                        background-color: darken($accent, 10%);
                    }

                    &:disabled {
                        background-color: $lightGray;
                        cursor: not-allowed;
                    }

                }

                input[name=_interactive] {
                    display: none;
                }

            }

        }

    }

}

@media screen and (max-width: 1400px) {

    main {

        section#about, section#contact {
            grid-template-columns: 25vw 50vw 25vw;
        }

    }

}

@media screen and (max-width: 1200px) {

    main {

        section#about, section#contact {
            grid-template-columns: 20vw 60vw 20vw;
        }

    }

}

@media screen and (max-width: 1000px) {

    main {

        section#about, section#contact {
            grid-template-columns: 15vw 70vw 15vw;
        }

    }

}

@media screen and (max-width: 800px) {

    main {

        section#about, section#contact {
            grid-template-columns: 10vw 80vw 10vw;
        }

        section#oss {

            .items {
                grid-template-columns: 100%;
                grid-row-gap: 3rem;

                article {
                    border: none;

                    &, &:first-of-type, &:last-of-type {
                        h3, p, div {
                            padding: 0;
                        }
                    }

                }

            }

        }

    }

}

@media screen and (max-width: 600px) {

    main {

        section#contact {

            div.wrapper {

                form {

                    div.name-email {
                        display: grid;
                        grid-template-columns: 100%;
                    }

                }

            }

        }

    }

}

