/*
 *  olback.net v3.0
 */

/*
 *  Purple: #252839
 *  Gray: #67707
 *  Light gray: #b5b5b7
 *  Yellow: #f2b632
 */

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #677077;
}
nav>a {
    display: block;
    padding: 2em;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    letter-spacing: 0.2em;
    float: left;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    color: #fff;
}
nav>a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ddd;
}
main {
    display: block;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}
main {
    font-size: 14pt;
    font-family: 'Courier New', Courier, monospace;
}
main>p {
    color: #252839;
}
main>a {
    display: block;
    color: #f2b632;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
main>a:hover {
    text-decoration: underline;
    color: #ff8c00;
}
