/*
 *  olback.dev v5.0
 */

@import "vendor/font-awesome/fontawesome.scss";
@import "vendor/font-awesome/brands.scss";
@import "vendor/font-awesome/solid.scss";
@import "vendor/google-fonts/open-sans";

@import "vars";

::selection {
    background-color: $accent;
    color: $darkGray;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $accent;
}

::-webkit-scrollbar-track {
    background-color: $darkGray;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: $darkGray;
    background-color: $white;
    * {
        font-family: "Open Sans", sans-serif;
    }
    &.dark {
        background-color: $darkGray;
        color: $white;
    }
}

@import "header";
@import "main";
@import "footer";
