/*
 *  olback.net v3.0
 */

/*
 *  Purple: #252839
 *  Gray: #677077
 *  Light gray: #b5b5b7
 *  Yellow: #f2b632
 */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace !important;
}

header {
    position: fixed;
    z-index: 8;
    background-color: #677077;
    text-align: center;
    background-image: url('/assets/bg.svg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

header>figure {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: auto;
}

header>figure>img {
    max-width: 300px;
    border-radius: 50%;
    border: 3px solid transparent;
    transition: transform 1s, border-color 1s;
}

img:hover {
    transform: rotate(360deg);
    border-color: #f2b632;
}

header>figure>figcaption {
    margin-top: 1em;
    font-size: 1.5em;
    color: #b5b5b7;
}

header>div.sm {
    font-size: 2em;
    position: fixed;
    bottom: 50px;
    left: 50px;
}

header>div.sm>a {
    padding: 0.5em;
    display: block;
    color: #b5b5b7;
    transition: background-color 0.3s, color 0.3s;
    line-height: 1em;
    text-decoration: none;
}

header>div.sm>a:hover {
    background-color: #252839;
    cursor: pointer;
}

main {
    top: 100%;
    display: inline-block;
    position: absolute;
    width: 100%;
    z-index: 10;
    text-align: center;
}

section {
    background-color: #252839;
    color: #b5b5b7;
    display: block;
    padding: 48px 0;
    overflow-x: hidden;
}

section>h2 {
    font-size: 2em;
    padding: 1em 0;
    margin-bottom: 0;
}

section>div.cols {
    display: inline-block;
    max-width: 1300px;
    margin: auto;
}

section>div.cols>div.col {
    display: block;
    float: left;
    width: 28%;
    min-width: 300px;
    padding: 2em;
    border-right: 1px solid #b5b5b7;
    color: #b5b5b7;
}

section>div.cols>div.col:last-of-type {
    border: none;
}

section>div.cols>div.col>h3 {
    font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f2b632;
    font-family: 'Courier New', Courier, monospace !important;
}

div.fs {
    display: block;
    width: 100%;
    height: 120px;
    background-color: transparent;
}

footer {
    width: 100%;
    padding: 3em 0;
    position: fixed;
    display: block;
    bottom: 0;
    background-color: #677077;
    text-align: center;
    z-index: 9;
    visibility: hidden;
    color: #b5b5b7;
}

p {
    line-height: 1.5em;
    color: #b5b5b7;
    max-width: 1300px;
    text-align: center;
    display: block;
    margin: auto;
    width: 85%;
    max-width: 800px;
}

form {
    display: block;
    margin: auto;
    max-width: 650px;
}

form > div:first-of-type {
    display: inline-block;
    width: 100%;
    max-width: 650px;
}

label {
    width: 100%;
    display: block;
    text-align: left;
    margin: auto;
    margin-top: 1.5em;
}

input,
textarea {
    width: calc(100% - 1em - 2px);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #b5b5b7;
    padding: 0.5em;
    font-size: 14pt;
    outline: none;
    color: #b5b5b7;
    display: block;
    margin-bottom: 30px;
    transition: border-color 0.3s;
    margin: auto;
}

textarea {
    resize: vertical;
    height: 96px;
}

input[type="checkbox"] {
    display: inline;
}

label[for="mf_b"] {
    margin-bottom: 5px;
}

label[for="mf_c"] {
    display: inline;
}

input:focus,
textarea:focus {
    border-color: #f2b632;
}

/* input:invalid {
    outline: none !important;
    border-color: red;
} */

textarea {
    border: 1px solid #b5b5b7;
}

.mfp {
    display: block;
    width: 45%;
    float: left;
    text-align: left;
    /* margin-right: 1%; */
}

.mfp:nth-of-type(2) {
    float: right;
}

.mfp>label {
    width: 100%;
}

.mfp>input {
    width: calc(100% - 1em);
}

button {
    padding: 1em 2em;
    border: 3px solid #f2b632;
    color: #f2b632;
    background-color: transparent;
    font-size: 14pt;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
}

button:hover {
    background-color: #f2b632;
    color: #252839;
}

button:active {
    background-color: #ff8c00;
    border-color: #ff8c00;
    color: #252839;
}

.m-status {
    display: none;
    max-width: 590px;
    width: calc(100% - 6em);
    margin: auto;
    padding: 2em;
    margin-bottom: 2em;
    border-radius: 3px;
}

.m-status.success {
    background-color: #28a745;
    display: block;
}

.m-status.error {
    background-color: #dc3545;
    display: block;
}

.copy {
    display: inline-block;
    margin: 2em auto;
    width: 80%;
}

a,
a:visited {
    color: #f2b632;
    display: inline;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #ff8c00;
}

a:active {
    color: #ff6600;
}

.fa-github:hover {
    color: #000;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-instagram:hover {
    color: #fff;
}

.g-recaptcha {
    display: inline-block;
    margin-bottom: 2em;
}

@media all and (max-width: 1250px) {
    .cols>.col {
        display: block;
        margin: auto !important;
        width: 80% !important;
        border-right: none !important;
        float: none !important;
        padding: 2em 0 !important;
    }
}

@media all and (max-width: 900px) {
    input,
    textarea {
        width: calc(80% - 1em);
    }
    label {
        width: 80%;
    }
    .mfp {
        display: block;
        width: 80%;
        margin: auto;
        float: none !important;
    }
    header>div.sm>a {
        display: block;
        float: left;
    }
}

@media all and (max-width: 500px) {
    header>div.sm {
        font-size: 1.5em;
        left: 30px;
        bottom: 30px;
    }
}
