/*
 *  olback.net v4.0
 */

@import 'vars'; 

body {
    margin: 0;
    background-color: $darkGray;
}

main {
    display: block;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    font-size: 14pt;
    font-family: 'Courier New', Courier, monospace;

    a {
        display: block;
        color: $accent;
        text-decoration: none;
        transition: color 0.3s ease-in-out;

        &:hover {
            text-decoration: underline;
            color: darken($accent, 10%);
        }
    }

}
