<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="theme-color" content="#677077" />
        <link rel="stylesheet" href="/assets/css/error.min.css" />
        <title>{{ code }} - olback.net</title>
    </head>
    <body>
        <main>
            <h1>{{ code }}</h1>
            <p>{{ message }}</p>
            <a id="back">Go back</a>
        </main>
        <script>
            document.getElementById('back').addEventListener('click', function() {
                window.history.back();
            }, { passive: true });
        </script>
    </body>
</html>
