<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="author" content="Edwin Svensson" />
        <meta name="owner" content="Edwin Svensson" />
        <meta name="copyright" content="Edwin Svensson" />
        <meta name="keywords" content="freelance, web design, web, programmer, web development, web dev, dev, developer" />
        <meta name="description" content="Hello, I'm Edwin and I'm a developer." />
        <meta name="theme-color" content="#677077" />
        <script src="/assets/main.min.js"></script>
        <link rel="stylesheet" href="/assets/css/main.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous" />
        <title>Edwin - olback.net</title>
    </head>
    <body>

        <header>
            <figure>
                <img src="/assets/edwin.jpg" alt="Hey, I'm Edwin." title="Hey, I'm Edwin." />
                <figcaption>Hi, I'm Edwin</figcaption>
            </figure>
            <div class="sm">
                <a href="https://github.com/olback" aria-hidden="true" rel="noopener" target="_blank" class="fab fa-github"></a>
                <a href="https://twitter.com/mrolback" aria-hidden="true" rel="noopener" target="_blank" class="fab fa-twitter"></a>
                <a href="https://www.instagram.com/mredwinn/" aria-hidden="true" rel="noopener" target="_blank" class="fab fa-instagram"></a>
            </div>
        </header>

        <main>

            <section>
                <h2 id="about">About</h2>
                <p>
                    Hey, my name is Edwin and i study IT/engineering in Sweden at the moment. I am 17 years old. I really like maths and physics, don't really know why. In my spare time I like to design and develop websites. I also like photogrophy. I can't really say that I'm particulary good at any of the aformentioned things but it's a whole lot of fun. I'm also a fan of open source software and hardware.
                </p>
                <h2 id="projects">Featured projects</h2>
                <div class="cols">
                    <div class="col">
                        <h3>es6-css-minify</h3>
                        <p>
                            <em>es6-css-minify</em> is a open-source VS Code extension that lets you minify JavaScript, CSS and generate source maps with a simple click.
                            View source on <a href="http://github.com/olback/es6-css-minify" rel="noopener" target="_blank">Github</a> or download from the <a href="https://marketplace.visualstudio.com/items?itemName=olback.es6-css-minify" rel="noopener" target="_blank">VSC Marketplace</a>.
                        </p>
                    </div>
                    <div class="col">
                        <h3>rdg-linux</h3>
                        <p>
                            <em>rdg-linux</em> is a simple front-end application for the CLI tool rdesktop.
                            This was created for people that don't like using the terminal for everything.
                            View <a href="https://github.com/olback/rdg-linux" rel="noopener" target="_blank">source</a> or <a href="https://github.com/olback/rdg-linux/releases/latest" rel="noopener" target="_blank">download</a> on Github.
                        </p>
                    </div>
                    <div class="col">
                        <h3>Todo app</h3>
                        <p>
                            <em>o-todo</em> is a self-hosted progressive web application for security concerned people.
                            It's written in PHP and uses MySQL to store data which means it's simple to set up yourself.
                            <a href="https://github.com/olback/o-todo" rel="noopener" target="_blank">Contribute</a> or check out the <a href="https://o-todo.olback.net" rel="noopener" target="_blank">demo</a>.
                        </p>
                    </div>
                </div>

                <h2 id="contact">Contact</h2>

                <div class="m-status {{ class }}"><p style="color: #fff;">{{ message }}</p></div>

                <form action="/mail" method="post">
                    <div>
                        <div class="mfp">
                            <label for="mf_n">Full name:</label>
                            <input id="mf_n" name="name" autocomplete="name" type="text" class="inputText" required="required" />
                        </div>
                        <div class="mfp">
                            <label for="mf_e">Your email:</label>
                            <input id="mf_e" name="email" autocomplete="email" type="email" required="required" />
                        </div>
                    </div>

                    <label for="mf_s">Subject:</label>
                    <input id="mf_s" name="subject" type="text" required="required" />

                    <label for="mf_b">Message:</label>
                    <textarea name="body" id="mf_b" required="required"></textarea>

                    <div class="copy">
                        <label for="mf_c">I want to receive a copy of this message:</label>
                        <input id="mf_c" name="copy" type="checkbox" checked="checked" style="width: auto;" />
                    </div>

                    <button type="submit">Send</button>
                </form>

            </section>

            <div class="fs"></div>

        </main>

        <footer>
            <p>
                Edwin &copy; 2018
            </p>
        </footer>

    </body>
</html>
