article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block
}
html,body {
	margin:0px;
	padding:0px;
}
html {
	background-color:#000;
}
body {
	padding:0px;
	margin:0px;
	opacity:0.0;
	display:block;
	overflow:hidden;
	position:absolute;
	height:auto;
	bottom:20px;
	top:20px;
	left:20px;
	right:20px;
	background-color:#9f9f9f;
	-webkit-transition:opacity 1.5s ease-in;
	-moz-transition:opacity 1.5s ease-in;
	-o-transition:opacity 1.5s ease-in;
	-ms-transition:opacity 1.5s ease-in;
	border-radius:10px;
	cursor:wait;
}
.roll {
	opacity:1.0;
	cursor:default;
}
figure.ditto {
	position:absolute;
	display:block;
	padding:0px;
	margin:0px;
	width:499px;
	height:439px;
	background-image:url(./misc/Konga_files/ditto.gif);
	background-repeat:no-repeat;
}
figure.ditto.hero {
	z-index:0;
	position:absolute;
	left:50%;
	margin-left:-255px;
	top:50%;
	margin-top:-220px;
}
figure.fromLeft {
	-webkit-animation:fromLeft 3s linear;
	-moz-animation:fromLeft 3s linear;
	-ms-animation:fromLeft 3s linear;
	left:-100%;
}
figure.fromRight {
	-webkit-animation:fromRight 3s linear;
	-moz-animation:fromRight 3s linear;
	-ms-animation:fromRight 3s linear;
	right:-100%;
}
@-webkit-keyframes fromLeft {
	0% {
		left:-100%;
	}
	100% {
		left:100%;
	}
}
@-moz-keyframes fromLeft {
	0% {
		left:-100%;
	}
	100% {
		left:100%;
	}
}
@-ms-keyframes fromLeft {
	0% {
		left:-100%;
	}
	100% {
		left:100%;
	}
}
@-webkit-keyframes fromRight {
	0% {
		right:-100%;
	}
	100% {
		right:100%;
	}
}
@-moz-keyframes fromRight {
	0% {
		right:-100%;
	}
	100% {
		right:100%;
	}
}
@-ms-keyframes fromRight {
	0% {
		right:-100%;
	}
	100% {
		right:100%;
	}
}
@-webkit-keyframes appear {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-moz-keyframes appear {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-ms-keyframes appear {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
figure.spinner {
	display:block!important;
	opacity:1.0!important;
	position:absolute;
	top:100px;
	bottom:100px;
	left:0px;
	right:0px;
	z-index:1337;
}
